* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/.jsdtscope -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text svneol=unset#application/xml
WebContent/analytics/ctsaCommunityMap.jsp -text
WebContent/analytics/ctsaCommunityMapData.jsp -text
WebContent/analytics/domain_graph.jsp -text
WebContent/analytics/domain_graph_data.jsp -text
WebContent/analytics/forceGraph.jsp -text
WebContent/analytics/labelledForceGraph.jsp -text
WebContent/award/list.jsp -text
WebContent/award/sentences.jsp -text
WebContent/biological_function/list.jsp -text
WebContent/biological_function/sentences.jsp -text
WebContent/collaboration/list.jsp -text
WebContent/collaboration/sentences.jsp -text
WebContent/discipline/list.jsp -text
WebContent/discipline/sentences.jsp -text
WebContent/disease/list.jsp -text
WebContent/disease/sentences.jsp -text
WebContent/document/document.jsp -text
WebContent/emergence/list.jsp -text
WebContent/emergence/sentences.jsp -text
WebContent/event/list.jsp -text
WebContent/event/sentences.jsp -text
WebContent/feeds/concept_sentences.jsp -text
WebContent/feeds/concept_vocabulary.jsp -text
WebContent/feeds/geonames_vocabulary.jsp -text
WebContent/feeds/grid_sentences.jsp -text
WebContent/feeds/grid_vocabulary.jsp -text
WebContent/feeds/person_sentences.jsp -text
WebContent/feeds/person_vocabulary.jsp -text
WebContent/feeds/pubchem_sentences.jsp -text
WebContent/feeds/pubchem_vocabulary.jsp -text
WebContent/feeds/search.jsp -text
WebContent/feeds/sites.jsp -text
WebContent/feeds/sites_by_type.jsp -text
WebContent/feeds/topic_sentences.jsp -text
WebContent/feeds/umls_sentences.jsp -text
WebContent/feeds/umls_vocabulary.jsp -text
WebContent/finding/list.jsp -text
WebContent/finding/sentences.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text svneol=unset#image/gif
WebContent/images/cd2h-logo.png -text svneol=unset#image/png
WebContent/images/leo.png -text svneol=unset#image/png
WebContent/index.jsp -text
WebContent/location/list.jsp -text
WebContent/location/sentences.jsp -text
WebContent/location_concept/list.jsp -text
WebContent/location_concept/sentences.jsp -text
WebContent/menu.jsp -text
WebContent/organic_chemical/list.jsp -text
WebContent/organic_chemical/sentences.jsp -text
WebContent/organism/list.jsp -text
WebContent/organism/sentences.jsp -text
WebContent/organization/list.jsp -text
WebContent/organization/organization.jsp -text
WebContent/organization/organization_by_frequency.jsp -text
WebContent/organization/organization_list.jsp -text
WebContent/organization/sentences.jsp -text
WebContent/organization_concept/list.jsp -text
WebContent/organization_concept/sentences.jsp -text
WebContent/outbreak/list.jsp -text
WebContent/outbreak/sentences.jsp -text
WebContent/person/list.jsp -text
WebContent/person/person.jsp -text
WebContent/person/person_by_frequency.jsp -text
WebContent/person/person_list.jsp -text
WebContent/person/sentences.jsp -text
WebContent/person_concept/list.jsp -text
WebContent/person_concept/sentences.jsp -text
WebContent/process/list.jsp -text
WebContent/process/sentences.jsp -text
WebContent/program/list.jsp -text
WebContent/program/sentences.jsp -text
WebContent/project/list.jsp -text
WebContent/project/sentences.jsp -text
WebContent/resource/list.jsp -text
WebContent/resource/sentences.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/anime.min.js -text
WebContent/resources/bootstrap/css/bootstrap-grid.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.css -text
WebContent/resources/bootstrap/css/bootstrap.css.map -text
WebContent/resources/bootstrap/css/bootstrap.min.css -text
WebContent/resources/bootstrap/css/bootstrap.min.css.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.js -text
WebContent/resources/bootstrap/js/bootstrap.js.map -text
WebContent/resources/bootstrap/js/bootstrap.min.js -text
WebContent/resources/bootstrap/js/bootstrap.min.js.map -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/dashboard_style.css -text
WebContent/resources/jquery-colorize.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/resources/old_style.css -text
WebContent/resources/select2/select2.js -text
WebContent/resources/select2/select2.min.css -text
WebContent/resources/select2/select2.min.js -text
WebContent/resources/select2/select2_search.js -text
WebContent/search.jsp -text
WebContent/service/list.jsp -text
WebContent/service/sentences.jsp -text
WebContent/substance/list.jsp -text
WebContent/substance/sentences.jsp -text
WebContent/tables/concept.jsp -text
WebContent/tables/concept_sentences.jsp -text
WebContent/tables/geoname_vocabulary.jsp -text
WebContent/tables/grid_sentences.jsp -text
WebContent/tables/grid_vocabulary.jsp -text
WebContent/tables/person.jsp -text
WebContent/tables/person_sentences.jsp -text
WebContent/tables/pubchem_sentences.jsp -text
WebContent/tables/pubchem_vocabulary.jsp -text
WebContent/tables/search.jsp -text
WebContent/tables/sites.jsp -text
WebContent/tables/topic_sentences.jsp -text
WebContent/tables/umls_sentences.jsp -text
WebContent/tables/umls_vocabulary.jsp -text
WebContent/technique/list.jsp -text
WebContent/technique/sentences.jsp -text
WebContent/template/browse.jsp -text
WebContent/template/browse_fragment.jsp -text
WebContent/template/browse_pattern.jsp -text
WebContent/template/browse_unbound.jsp -text
WebContent/template/complete.jsp -text
WebContent/template/defer.jsp -text
WebContent/template/filter.jsp -text
WebContent/template/filter_detect.jsp -text
WebContent/template/filter_suppress.jsp -text
WebContent/template/generate.jsp -text
WebContent/template/submit.jsp -text
WebContent/template/suppress.jsp -text
WebContent/template/syntaxTree.jsp -text
WebContent/template/verify.jsp -text
WebContent/visualization/syntaxTree.jsp -text
/pom.xml -text
